<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playzim.activities.placar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="com.playzim.activities.ConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.Placar"/>
        <activity
            android:name="com.playzim.activities.Playzim_Score_Activity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFS" />
        <activity
            android:name="com.playzim.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Placar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>